<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.173099805453-6qi4nvhpsa3f3d5n0tfa380eoikmbl91</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>173099805453-6qi4nvhpsa3f3d5n0tfa380eoikmbl91.apps.googleusercontent.com</string>
</dict>
</plist>
